{% extends "FOSCommentBundle:Thread:comment_new_content.html.twig" %}

{% set fos_comment_reply_cancel_class = ' btn btn-danger' %}
{% set fos_comment_reply_submit_class = ' btn btn-primary' %}

{% block fos_comment_form_title '' %}

{% block fos_comment_comment_new_form %}
<form class="fos_comment_comment_new_form" action="{{ url('fos_comment_post_thread_comments', url_parameters) }}" data-parent="{{ parent.id|default() }}" method="POST">
    {{ block('fos_comment_form_fields') }}
</form>
{% endblock fos_comment_comment_new_form %}

{% block fos_comment_form_fields %}
<div class="row-fluid">
    <div class="span3">
        Posting as <strong>{{ app.user ? app.user.username : 'Anonymous' }}</strong>{% if parent is not null %} in reply to {{ parent.authorName }}{% endif %}
    </div>

    <div class="span9">
        <div class="fos_comment_form_errors">
            {{ form_errors(form) }}
            {{ form_errors(form.body) }}
        </div>

        {{ form_widget(form.body) }}

        <div class="fos_comment_controls">
            {{ block('fos_comment_form_submit') }}
        </div>
    </div>
</div>

{{ form_rest(form) }}
{% endblock %}
