{% extends "::base.html.twig" %}

{% set title = 'FOSUserBundle Login Page -' %}

{% block body %}
<div class="container">
    <div class="row-fluid">
        <div class="span8">
            <h1>FOSUserBundle Login</h1>

            {% if error %}
                <div class="alert alert-danger">{{ error|trans({}, 'FOSUserBundle') }}</div>
            {% endif %}

            <form action="{{ path("fos_user_security_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

                <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                <input type="password" id="password" name="_password" required="required" />

                <label for="remember_me" class="checkbox">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                </label>

                <button type="submit" id="_submit" name="_submit" class="btn btn-primary">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</button>
            </form>
        </div>

        <div class="span4">
            <h3>FOSUserBundle Login Demonstration</h3>

            <p>
                The login page provided by FOSUserBundle is a basic placeholder that
                does not perform any action besides rendering a login form.
            </p>

            <p>
                The login form is handled by the security system provided by
                Symfony2 which will then hand off authentication to FOSUserBundle.
            </p>
        </div>
    </div>
</div>
{% endblock body %}
